body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; 
}

.navbar {
    margin-bottom: 20px;
}

h1, h2 {
    color: #343a40; 
}

.list-group-item {
    border: none;
    background-color: #ffffff;
}

.btn-secondary {
    margin-top: 20px;
}

.card { 
    height: 100%;
}


.card-body {
    flex: 1; 
}

